@font-face{
    font-family:'Courgette';
    src:url(instructions/Courgette-Regular.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
}


.source-sans-3-SemiBold600Italic {
  font-family: "Source Sans 3", sans-serif;
 /* font-optical-sizing: auto;*/
  font-weight: 600;
  font-style: normal;
} 
body{
    margin:auto;
    width: 980px;
    line-height:1.5em;
    font-family:source-sans-3-SemiBold600Italic;
}
menu{
    font-size:1.1rem;
}
article{
    text-align:justify;
}
footer{
    margin:auto;
    text-align:center;
}
header{
    margin:auto;
    text-align:center;
}
h3{
    text-align:center;
    color:#003884;
    font-family:Courgette;
    font-size:1.389rem;
}
h1{
    font-size:2.2rem;
    text-align:center;
    color:#003884;
    font-family:Courgette;
}
h2{
     text-align:center;
    color:#4f89b9;
    font-family:Courgette;
    font-size:1.94rem;
}

p{
    color:#444;
}
ul li{
    color : #444;
}

ol li{
    color:#003884;
    font-family:Courgette;
    font-weight:bold;
    text-decoration:none;
}
i{
    font-size:1.667rem;
    color:#003884;
}
strong{
    color:#003884;
}
em{
    color:#003884;
}
hr{
    color:#003884;
}
blockquote{
    text-align:center;
    background-color:#d7e1ef;
    color:#003884;
    font-family:Courgette;
}
blockquote p{
    color:#003884;
    font-weight:bold;
    font-size:1.389rem;
}
.copyright{
    font-size:0.778rem;
}
.clear{
    clear:none;
}


.drapeau{
    float:right;
    margin-left:1em;
}
.statue{
    float:left;
    margin-right:1em;
}
.pont{
    float:right;
    margin-left:1em;
}
.taxi{
    float:left;
    margin-right:1em;
}

blockquote p::before{
    content:" ";
}
blockquote p::after{
    content:" ";
}